[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = den.leschenko@gmail.com
	name = Den Leschenko
[init]
	defaultBranch = main
[includeIf "gitdir:~/Code/JYSK"]
    path = ~/.gitconfig-jysk
[push]
	autoSetupRemote = true
