<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Define the package sources, nuget.org and vapp01. -->
    <!-- `clear` ensures no additional sources are inherited from another config file. -->
    <packageSources>
        <clear />
        <!-- `key` can be any identifier for your source. -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="vapp01" value="http://emeauahovapp01.jysk.com:5001/v3/index.json"
            allowInsecureConnections="true" />
    </packageSources>

    <!-- Define mappings by adding package patterns beneath the target source. -->
    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="vapp01">
            <package pattern="WssLibrary" />
            <package pattern="FiscalApi.Common" />
            <package pattern="JUAOidc.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
